<h2>Contact</h2>
<h3>Jenna</h3>

<address>
    Somewhere<br />
    In Indiana<br />
    <abbr title="Phone">P:317-555-5555</abbr>    
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jennapearmain@gmail.com">Jenna</a><br />    
</address>