@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>myTrips</h1>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Trips im planning</h2>
        <p>
            words about trips and planning them and stuff 
        </p>
        <p><a class="btn hpb">Full Trip List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Budget things</h2>
        <p>somehow make the total appear here</p>
        <p><a class="btn hpb">Full Budget &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Itinerary things</h2>
        <p>Make mini itinerary list go here</p>
        <p><a class="btn hpb">Full Itinerary &raquo;</a></p>
    </div>
</div>