<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">To an easy way to organize your next adventure</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>myTrips</h2>
        <p>Im going to put something here eventually</p>
        <p><a class="btn hpb" href="Link goes here">To myTrips &rArr;</a></p>
    </div>
    <div class="col-md-3">
        <h2>myBudget</h2>
        <p>Im going to put something here eventually</p>
        <p><a class="btn hpb" href="Link goes here">To myBudget &rArr;</a></p>
    </div>
    <div class="col-md-3">
        <h2>myItinerary</h2>
        <p>Im going to put something here eventually</p>
        <p><a class="btn hpb" href="Link goes here">To myItinerary &rArr;</a> </p>
    </div>
    <div class="col-md-3">
        <h2>myTickets</h2>
        <p>Im going to put something here eventually</p>
        <p><a class="btn hpb" href="Link goes here">To myTickets &rArr;</a></p>
    </div>
</div>